<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EpacSuppliesMapper">

    <resultMap type="EpacSupplies" id="EpacSuppliesResult">
        <result property="itemId"    column="item_id"    />
        <result property="itemType"    column="item_type"    />
        <result property="itemName"    column="item_name"    />
        <result property="itemUnit"    column="item_unit"    />
        <result property="itemAmount"    column="item_amount"    />
        <result property="storagePlace"    column="storage_place"    />
        <result property="warehousingTime"    column="warehousing_time"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="source"    column="source"    />
        <result property="deliveryDestination"    column="delivery_destination"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
    </resultMap>

    <sql id="selectEpacSuppliesVo">
        select item_id, item_type, item_name, item_unit, item_amount, storage_place, warehousing_time, delivery_time, source, delivery_destination, status, remark, longitude, latitude from epac_supplies
    </sql>

    <select id="selectEpacSuppliesList" parameterType="EpacSupplies" resultMap="EpacSuppliesResult">
        <include refid="selectEpacSuppliesVo"/>
        <where>
            <if test="itemType != null  and itemType != ''"> and item_type = #{itemType}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="storagePlace != null  and storagePlace != ''"> and storage_place like concat('%', #{storagePlace}, '%')</if>
            <if test="warehousingTime != null "> and warehousing_time = #{warehousingTime}</if>
            <if test="deliveryTime != null "> and delivery_time = #{deliveryTime}</if>
            <if test="source != null  and source != ''"> and source = #{source}</if>
            <if test="deliveryDestination != null  and deliveryDestination != ''"> and delivery_destination = #{deliveryDestination}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectEpacSuppliesByItemId" parameterType="Long" resultMap="EpacSuppliesResult">
        <include refid="selectEpacSuppliesVo"/>
        where item_id = #{itemId}
    </select>

    <insert id="insertEpacSupplies" parameterType="EpacSupplies">
        insert into epac_supplies
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">item_id,</if>
            <if test="itemType != null">item_type,</if>
            <if test="itemName != null">item_name,</if>
            <if test="itemUnit != null">item_unit,</if>
            <if test="itemAmount != null">item_amount,</if>
            <if test="storagePlace != null">storage_place,</if>
            <if test="warehousingTime != null">warehousing_time,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="source != null">source,</if>
            <if test="deliveryDestination != null">delivery_destination,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">#{itemId},</if>
            <if test="itemType != null">#{itemType},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="itemUnit != null">#{itemUnit},</if>
            <if test="itemAmount != null">#{itemAmount},</if>
            <if test="storagePlace != null">#{storagePlace},</if>
            <if test="warehousingTime != null">#{warehousingTime},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="source != null">#{source},</if>
            <if test="deliveryDestination != null">#{deliveryDestination},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
         </trim>
    </insert>

    <update id="updateEpacSupplies" parameterType="EpacSupplies">
        update epac_supplies
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemType != null">item_type = #{itemType},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemUnit != null">item_unit = #{itemUnit},</if>
            <if test="itemAmount != null">item_amount = #{itemAmount},</if>
            <if test="storagePlace != null">storage_place = #{storagePlace},</if>
            <if test="warehousingTime != null">warehousing_time = #{warehousingTime},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="source != null">source = #{source},</if>
            <if test="deliveryDestination != null">delivery_destination = #{deliveryDestination},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
        </trim>
        where item_id = #{itemId}
    </update>

    <delete id="deleteEpacSuppliesByItemId" parameterType="Long">
        delete from epac_supplies where item_id = #{itemId}
    </delete>

    <delete id="deleteEpacSuppliesByItemIds" parameterType="String">
        delete from epac_supplies where item_id in
        <foreach item="itemId" collection="array" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>

    <select id="getItemList" resultMap="EpacSuppliesResult">
        select distinct item_name from epac_supplies
    </select>

    <select id ="getUnitByitem" resultType="String">
        select item_unit from epac_supplies where item_name = #{itemName}
    </select>
</mapper>
